.movie-listing{
    background-color:var(--header-backround);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.movies {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: center;
    margin: 2rem 5rem;
}

.movie-listing-title{
    text-align: center;
    color: var(--titulo-logo);
    font-size: 3rem;
    font-weight: 900;
}

.movie-listing-title::after {
    content: "";
    display: block;
    width: 90px;
    height: 4px;
    background-color: #6a944f;
    margin: 0.5rem auto 0;
}

.add-button{
    background-color: var(--button-addMovie);
    color: var(--button-text);
    font-weight: 500;
    padding: 0.3rem 0.8rem;
    border-radius: 15px;
    border: none;
    width: 20rem;
    transition: background-color 0.3s ease;
}

.add-button:hover {
    background-color:var(--button-addMovie-hover);
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}