
ul {
    margin: 0;
}

li {
    list-style: none;
    padding: 1rem;
    
}


.header-style {
  background-color: var(--header-backround);
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  border-bottom: 2px solid #c25751;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
  padding-right: 1rem;
}

.header-style > :first-child {
  justify-self: start;
}

.header-style > :nth-child(2) {
  justify-self: center;
}

.header-style > :last-child {
  justify-self: end;
}