.logout{
    padding: 0.1rem 1rem;
    margin: 0.5rem;
    color: var(--logout-text);
    background-color: var( --logout-background-color);
    font-weight: 500;
    border-radius: 15px;
    border: none;
    transition: color 0.3s ease;
}

.logout:hover {
    color: var(--logout-hover);
}