.edit-movie-overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.edit-movie-overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.edit-movie-card {
 padding: 2.5rem 3rem;
    margin: 1rem;
    background-color:  var(--card-bg);
    color: var(--card-text);
    border: 2px solid var(--border-color);
    border-radius: 15px;
    width: 35rem;
}


.edit-movie-overlay.show .edit-movie-card {
  transform: translateY(0);
  opacity: 1;
}

.edit-movie-inputs{
    display: flex;
    flex-direction: column;
    color:(--card-text)
}

.edit-movie-inputs input{
    
    border-radius: 10px;
    border: 2px solid var(--input-border);
    background-color:var(--input-bg);
    padding: 0.2rem 1rem;
    transition: all 0.5s ease;
}
.edit-movie-inputs input::placeholder {
    color: var(--input-placeholder);
}
.edit-movie-inputs input:focus {
    outline: none;
    box-shadow: 0 0 8px var(--input-border);
    border-color: var(--input-focus-color);
}

.errors{
    color: var(--error-color);
}

.edit-movie-card button{
    background-color:var(--button-bg);
    color: (--button-text);
    font-weight: 500;
    padding: 0.3rem 0.8rem;
    border-radius: 15px;
    border: none;
    width: 100%;
    transition: transform 0.2s, box-shadow 0.2s;
    margin-top: 10px;

}

.edit-movie-card button:hover {  
  background-color:var(--button-hover);
  transform: scale(1.1);
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}