.reservations{
    background-color: #662d2b;
    padding: 1.5rem;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    min-height: 20rem;
}

.reservations div{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.reservations h1{
    text-align: center;
    color: #c25751;
    font-size: 3rem;
    font-weight: 900;
}

.reservations h1::after {
    content: "";
    display: block;
    width: 90px;
    height: 4px;
    background-color: #6a944f;
    margin: 0.5rem auto 0;
}