.users-guide{
    background-color: var(--header-backround);
    padding: 1.5rem;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.users{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.users-title{
    text-align: center;
    color: var(--titulo-logo);
    font-size: 3rem;
    font-weight: 900;
}

.users-title::after {
    content: "";
    display: block;
    width: 90px;
    height: 4px;
    background-color: var(--subtitulo-logo);
    margin: 0.5rem auto 0;
}
