.auth{
    background-color: var(--header-backround);
    margin: 0;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.auth-title{
    color: var(--input-placeholder);
    font-weight: 700;
    font-size: 3rem;
}

.auth-container{
    padding: 2.5rem 3rem;
    margin: 1rem;
    background-color: var(--card-bg);
    color:var( --card-text);
    border: 2px solid var(--border-color);
    border-radius: 15px;
    width: 35rem;
}

.auth-container h2{
    font-size: 1.5rem;
    color: var(--button-bg);
    width: 100%;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--button-bg);
    text-align: center;
}

.auth-container form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.auth-inputs{
    display: flex;
    flex-direction: column;
}

.auth-inputs input{
    border-radius: 10px;
    border: 2px solid var( --input-border);
    background-color: var(--input-bg);
    padding: 0.2rem 1rem;
    transition: all 0.5s ease;
}
.auth-inputs input::placeholder {
    color: var(--input-placeholder);
}
.auth-inputs input:focus {
    outline: none;
    box-shadow: 0 0 8px var(--input-border);
    border-color:var(--input-border);
}

.auth-row{
    display: flex;
    gap: 1rem;
}

.auth-row .auth-inputs {
  flex: 1;
}

.auth-container button{
    background-color: var(--button-bg);
    color: var(--button-text);
    font-weight: 500;
    padding: 0.3rem 0.8rem;
    border-radius: 15px;
    border: none;
    width: 100%;
    transition: background-color 0.3s ease;
}

.auth-container button:hover {
    background-color: var(--button-hover);
}

.auth-checkbox{
    color: var(--button-text);
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.errors{
    color: rgb(176, 9, 9);
}

.go-register{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

.go-register p {
    margin: 0;
    flex-shrink: 0;
}

.go-register button{
    flex-grow: 1;
}