.user{
    border-radius: 8px;
    border: 2px solid var(--border-color);
    color: var(--card-text);
    width: 20rem;
    padding: 1rem;
    background-color:var( --card-bg);
}

.user h3{
    font-size: 1.5rem;
}

.user img{
    height: 1.5rem;
    width: auto;
    padding-right: 0.8rem;
}

.user div{
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.user button{
    width: 40%;
    background-color: var(--button-bg);
    color: var(--button-text);
    font-weight: 500;
    padding: 0.3rem 0.8rem;
    border-radius: 15px;
    border: none;
    transition: background-color 0.3s ease;
    margin-top: 0.5rem;
}

.user button:hover{
    background-color:var(--button-hover);
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
