.movie-details-page {
  background-color: #4c1d1a;
  padding: 2rem 10rem;
  color: #f19fc7;
}


.movie-details-page h1{
  color: #c25751;
  font-weight: 700;
  font-size: 2rem;
  padding-bottom: 1rem;
}

.movie-details-body{
  display: flex;
  gap: 2rem;
  align-items:flex-start;
}

.movie-details-body img{
  width: 20rem;
  height: auto;
}

.movie-info{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.info-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info-item p {
  margin: 0;
  font-weight: 500;
}

.mini-title{
  color: #dddddd94;
  font-size: 0.8rem;
}

.sinopsis h2 {
  color: #c25751;
  margin-top: 1.5rem;
  font-size: 1.8rem;
}

.details-button{
  color: #f19ec4;
  text-transform: uppercase;
  font-weight: 500;
  padding: 0.3rem 0.8rem;
  border-radius: 15px;
  border: none;
  width: 100%;
  transition: background-color 0.3s ease;
}

.details-button:nth-of-type(2){
  background-color: #c25751;
}

.details-button:nth-of-type(1){
  background-color: #731c18
}

.details-button:nth-of-type(2):hover {
  background-color: #a94442;
}

.details-button:nth-of-type(1):hover {
  background-color: #5b1713;
}
