img {
    width: 150px;
    object-fit: contain;
}

.logo-style {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-left: 0.5rem;
}

.titulo-logo {
    color: #c25751;
    font-size: 2rem;
    font-weight: 800;
}

.subtitulo-logo {
    color: #709F51;
    font-weight: 700;
    /* padding-bottom: 1rem; */
}