img {
    width: 150px;
    object-fit: contain;
}

.logo-style {
    display: flex;
    justify-content: start;
    gap: 5rem;
}

.titulo-logo {
    color:var(--titulo-logo);
    font-size: 2rem;
    font-weight: 800;
}

.subtitulo-logo {
    color: var(--subtitulo-logo);
    font-weight: 700;
    /* padding-bottom: 1rem; */
}