p {
    color: #f1f1f1;
    font-size: 1rem;
    text-indent: 1.2rem;
}

.titulo {
    font-weight: 900;
    color: #C25751;
    font-size: 4rem;
}

.subTitulo {
    color: #709F51;
    font-weight: 700;
    padding: 2rem;
}

.bg-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../../img/saturno.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 2rem 2rem 6rem;
    position: relative;
    width: 100%;
}

.btn-cover {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
}