.bg-image {
    flex: 1;
    min-height: 30rem;
    background-image: url("../../img/saturno.png");
    background-size: cover;
    /* la imagen cubre todo el espacio */
    background-position: center;
    /* centrada */
    background-repeat: no-repeat;
    flex-direction: column;
    justify-content: center;
    /* centra el texto verticalmente */
    align-items: center;
    /* centra horizontalmente */
    text-align: center;
    padding: 2rem;
    position: relative;
}

.btn-cover {
    position: absolute;
    bottom: 2.5rem;
    left: 50%;
    transform: translateX(-50%);
}

.titulo {
    font-weight: 600;
    color: #C25751;
}

.subTitulo {
    color: #709F51;
    font-weight: 700;
}