p {
    color: #f1f1f1;
    font-size: 1.2rem;
}
.titulo {
    font-weight: 900;
    color: #C25751;
    font-size: 4rem;
}

.subTitulo {
    color: #709F51;
    font-weight: 700;
}

.bg-image {
    flex: 1;
    min-height: 30rem;
    background-image: url("../../img/saturno.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    position: relative;
}

.btn-cover {
    position: absolute;
    bottom: 2.5rem;
    left: 50%;
    transform: translateX(-50%);
}