.movie-card {
    background-color: #4c1d1a;
    border-radius: 8px;
    border: 2px solid #c25751;
    color: #dddddd94;
    width: 15rem;
    overflow: hidden;
    text-align: left;
}

.poster-container{
    overflow: hidden;
}

.poster-container img {
    width: 100%; 
    height: auto;
    display: block;
}

.container {
    padding: 2px 16px;
    margin-bottom: 0.5rem;
}

.movie-card-title{
    margin: 0.5rem 0;
    font-size: 1.2rem;
    color: #6a944f;
    height: 3rem;
}

.movie-button{
    color: #f19ec4;
    font-weight: 500;
    padding: 0.3rem 0.8rem;
    border-radius: 15px;
    border: none;
    width: 100%;
    transition: background-color 0.3s ease;
    margin-top: 0.5rem;
}

.movie-button:nth-of-type(1){
    background-color: #c25751;
}

.movie-button:nth-of-type(2){
    background-color: #731c18;
}

.movie-button:nth-of-type(1):hover {
    background-color: #a94442;
}

.movie-button:nth-of-type(2):hover {
    background-color: #5b1713;
}