.reservation-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #f19fc7;
    border: 2px solid #7d3a34;
    background-color: #4c1d1a;
    padding: 1rem 2rem;
    border-radius: 15px;
}

.reservation-item h3{
    font-weight: 700;
}

.reservation-item button{
    background-color: #c25751;
    border: none;
    border-radius: 15px;
    color: #f19ec4;
    font-weight: 500;
    padding: 0.2rem 0.8rem;
    transition: background-color 0.3s ease;
}

.reservation-item button:hover{
    background-color: #a94442;
}