footer{
    background-color: var(--footer-backround);
    padding: 2rem;
    border-top: 1px solid var(--border-footer);
    color: var(--card-text);
}

p {
    margin: 0;
}

.info{
    display: flex;
    flex-wrap: wrap;
    gap: 10rem;
    padding: 1rem 0;
}

.footer-title{
    color: var(--subtitulo-logo);
    font-size: 2rem;
    font-weight: 900;
}

.footer-title::after {
    content: "";
    display: block;
    width: 90px;
    height: 4px;
    background-color: #6a944f;
    margin: 0.5rem 0;
}

.footer-subtitle{
    font-weight: 700;
    padding-bottom: 1rem;
}

.cinema{
    width: 40rem;
}

.cinema nav{
    display: flex;
    gap: 2rem;
}

.cinema nav a {
    padding: 0.4rem 1rem;
    border: 2px solid;
    border-radius: 20px;
    font-weight: normal;
    text-decoration: none;
    transition: all 0.3s ease;
}

/* Colores individuales */
.cinema nav a:nth-child(1) {
    border-color: var(--instagram);
    color:var(--instagram);
}

.cinema nav a:nth-child(2) {
    border-color:var(--facebook);
    color: var(--facebook);
}

.cinema nav a:nth-child(3) {
    border-color:var(--twitter);
    color: var(--twitter);
}

.cinema nav a:hover {
    filter: brightness(0.7);
}

.navegacion{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.navegacion .footer-subtitle {
    color: var(--footer-subtitulo);
}

.navegacion a{
    text-decoration: none;
    color: inherit;
    transition: all 0.3s ease;
    font-weight: normal;
}

.navegacion a:hover{
    filter: brightness(0.7);
}



.contacto .footer-subtitle {
    color: var(--footer-subtitulo)
}


.bottom{
    text-align: center;
    padding-top: 2rem;
    border-top: 1px solid var(--border-footer);
    color: #dddddd94;
}