a {
    text-decoration: none;
    color: var(--titulo-menu);
    font-weight: 700;
}

.menu-style {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.lista-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}